.header-place {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 217, 196);
    border: 10px solid rgb(95, 111, 101);
    border-radius: 20%;;
    top:0;
    left:0;
    right:0;
    position:fixed;
}

.header-message {
    display: inline-block;
}

.header-image {
    display: inline-block;
    width: 300px;
    margin-left: 50px;
}

.jamm-art {
    border-radius: 50%;
    border: 5px solid rgb(23, 59, 69);
    padding: 3px;
    width: 190px;
}

.header-title {
    font-family: Impact;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px rgb(254, 243, 226);
    color: rgb(23, 59, 69);
}

